.testimonial{
    background:#111;
    margin: 0;
}
.testimonial .content{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction:row;
}
.testimonial .content .testimonialBx{
    background:#161616;
    padding:60px 40px;
    margin:20px;
    max-width:calc(50% - 40px);
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
.testimonial .content .testimonialBx:hover{
    border-bottom:2px solid red;
    cursor:pointer;
}
.testimonial .content .testimonialBx p{
    color:#fff;
    font-style: italic;
    font-size:18px;
    font-weight: 100;
    font-family: "Times New Roman", Times, serif;
    line-height: 24px;
}

.testimonial .content .testimonialBx h3{
  
    text-align: end;
    color:red;
    font-weight: 200;
    line-height: 1.7em;
    font-size: 20px;
    font-style: italic;
}

h2{
    color:red;
}

@media (max-width: 991px)
{

    .btn{
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 8px;
        border-radius:50px;
        -webkit-border-radius:50px;
        -moz-border-radius:50px;
        -ms-border-radius:50px;
        -o-border-radius:50px;
    }
  
    .heading h2{
        font-size:24px;
    }
    .contentBx h3{
        font-size: 20px;
    }
    .contentBx h2{
        font-size: 20px;
        font-weight: 300;
    }
   
    .contactInfo{
        margin:10px 0;
    }
}

@media (max-width: 768px){
    .testimonial .content .testimonialBx{
        max-width: calc(100% - 20px);
        padding: 40px 20px;
        margin: 30px;
    }
    .heading.bottom{
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-direction:row;
    }
}

@media (max-width: 600px){
    .testimonial .content .testimonialBx{
        max-width: calc(100% - 20px);
        padding: 40px 20px;
        margin: 30px;
    }
    .heading.bottom{
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-direction:column;
    }
}
